
{% extends "@EasyAdmin/page/content.html.twig" %}

{% block content %}
    <h2>Bienvenue au centre d'administration de Kiri kita</h2><br>
    <h5>L'administration n'a jamais été aussi facile</h5>
{% endblock %}