<div{{ attributes }}>
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{{form_start(form)}}
{{form_widget(form)}}
    <button class="btn btn-primary" type="submit">Sauvegarder</button>
{{form_end(form)}}
</div>
